.hero {
    overflow-x: hidden;

    @include tablet {
        display: flex;
    }

    &__content {
        align-self: center;
        margin-top: 1rem;
        text-align: center;
        padding-left: 1rem;
        padding-right: 1rem;
        width: 100%;

        @include tablet {
            margin-top: 14rem;
        }
    }

    &__subtitle {

    }

    &__img {
        height: auto;
        margin: 0;
        width: 80%;

        @include tablet {
            height: 90vh;
            width: auto;
        }
    }

    &__counter {
        display: flex;
        justify-content: center;
    }


    &__item {
        flex-basis: 25%;
        padding-left: .2rem;
        padding-right: .2rem;

        @include tablet {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        @include desktop {
            flex-basis: 12%;
        }

        span {
            display: block;

            &:first-child {
                font-family: 'soloistregular', serif;
                font-size: 3rem;
            }
        }
    }

    &__list {
        margin-bottom: 48px;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        width: 80%;
    }

    &__list-item {
        margin-bottom: 16px;
        position: relative;

        &:before {
            color: black;
            display: inline-block;
            font-family: 'icomoon' !important;
            content: "\e906";
            position: absolute;
            left: -24px;
        }
    }
}
