$c-primary: tomato;
$c-secondary: mustard;

$c-black: #000;
$c-grey-dark: #38383a;
$c-grey: #dadada;
$c-grey-light: #ededed;
$c-white: #fff;

$tablet-portrait: 768px;
$tablet: 991px;
$desktop: 1200px;
