---
layout: layouts/base.njk
title: La boda
---

<div class="container__page">
    <div class="container__cnt">
        {{siteData.church}}
    </div>
    <img src="/images/paris.png" alt="perro chewaca" class="paris">
</div>