---
layout: layouts/base.njk
title: Title Strings
---

<div class="container__page">
    <div class="container__cnt">
        <p>{{siteData.contact}}</p>

        <a href="tel:">Alba</a>
        <a href="tel:">Mauro</a>
    </div>
    <img src="/images/paris.png" alt="perro chewaca" class="paris">
</div>