---
layout: layouts/base.njk
title: Contacto - Boda Alba y Mauro
---

<div class="container__page">
    <div class="container__cnt">
        <p>{{siteData.contact}}</p>

        <a href="tel:617691320" class="h2">Alba 617691320 - </a>
        <a href="tel:657124545" class="h2">Mauro 657124545</a>
    </div>
    <img src="/images/paris.png" alt="perro chewaca" class="paris">
</div>