---
layout: layouts/base.njk
title: Boda Alba y Mauro
---

<div class="hero">
    <img src="images/conjunto1.png" alt="Alba y Mauro" class="hero__img">
    <div class="hero__content">
        <h1 class="h1">{{siteData.name}}</h1>
        <p>{{siteData.home_subtitle}}</p>
        <ul class="hero__list">
            <li class="hero__list-item">
                <span class="bold">{{siteData.home_list_changes_1a}}</span> {{siteData.home_list_changes_1}}</li>
            <li class="hero__list-item">
                <span class="bold">{{siteData.home_list_changes_2a}}</span> {{siteData.home_list_changes_2}} <a href="/boda/" class="link">Boda</a></li>
            <li class="hero__list-item">
                <span class="bold">{{siteData.home_list_changes_3a}}</span> {{siteData.home_list_changes_3}}</li>
            <li class="hero__list-item">{{siteData.home_list_changes_4}} <a href="/contacto/" class="link">contactarnos</a></li>
        </ul>
        <h2 class="h2">{{siteData.subtitle}}</h2>
        <div>
            <ul class="hero__counter">
                <li class="hero__item">
                    <span data-days></span>
                    <span>{{siteData.days}}</span>
                </li>
                <li class="hero__item">
                    <span data-hours></span>
                    <span>{{siteData.hours}}</span>
                </li>
                <li class="hero__item">
                    <span data-minutes></span>
                    <span>{{siteData.minutes}}</span>
                </li>
                <li class="hero__item">
                    <span data-secs></span>
                    <span>{{siteData.secs}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
